.store-card {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 1pc 2pc;
}

.store-card .title {
    margin-top: 1pc;
    width: 85%;
}

.store-card .title>h2 {
    color: #004567;
    line-height: 1.3;
}

.store-card .link-to-container > a {
    background-color: #d22841;
    border: 0;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    padding: 1pc 56px;
    text-decoration: none;
}